.center:not(.section), .center>h1, .center>h2, .center>h3, .center>h4 {
    text-align: center;
}

img.center {
    display: block;
    margin: auto;
}

.math {
    text-align: left;
}

div.math {
    margin-bottom: 0.2cm;
}

img.math {
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
}

.eqno {
    float: right;
}

.listing {
    border-style: solid;
    border-width: 1px;
    background-color: whitesmoke;
}

.red {
    color: red;
}

.caption {
    text-align: center;
}

.data-table, .data-table-brk {
    caption-side: bottom;
}

.data-table-brk th {
    text-align: center;
}

.data-table-brk td + td, .data-table-brk th + th {
    color: blue;
}

.data-table-brk td + td + td, .data-table-brk th + th + th {
    color: red;
}

.data-table-brk td + td + td + td, .data-table-brk th + th + th + th {
    color: black;
}
