# Python artifacts
*.pyc
__pycache__/

# Build + distribution artifacts
build/
dist/
venvs/
.egg/
*.egg-info/

# Documenation artifacts
doc/generated/

# Testing artifacts
.pytest_cache/
.skg_test/
pytestdebug.log

# Merge artifacts
*.orig
